body {
    background: white;
    margin: 0;
}
/* NAVBAR */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .nav-item h5 {
    font-size: 22px;
    font-weight: 400;
    padding-right: 2rem;
  }
  
  .nav-item h5:hover, .nav-item a:hover {
    color: grey !important;
  }
  
  .nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .avatarMargin {
    margin-left: 2.2rem;
  }
  
  a.navbar-brand {
    font-family: Girassol;
  }
  
  a.nav-item {
    font-family: Nunito;
  }
  
  .row-bottom-margin {
    margin-bottom: -10px;
  }
  
  .navbar .navbar-nav {
    float: none;
    vertical-align: middle;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
  
  h3 {
    font-family: Nunito !important;
    font-weight: bold !important;
    text-align: left;
    color: #3F3D56 !important;
    margin-bottom: 0;
  }
  
  h5 {
    font-family: Nunito;
    text-align: center;
    color: #3F3D56 !important;
    margin-bottom: 0;
    font-weight: bold;
  }
  
  strong {
    font-family: Nunito !important;
    font-weight: bold !important;
    color: #3F3D56 !important;
  }

  /* Go Back link */
  .GoBack {

    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #3F3D56;
  }
  /* End of Go Back link */

  /* Div Background Details */
  .container {
    background: #C8D8E4;
    box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    
  }



/* End of Div Details */


/* Div Pics */
.picLeft {
    text-align: center;
}

.pic {
    margin: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 5%;
}

.Cover {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-decoration-line: underline;

    color: #3F3D56;
}

/* End of Div Pics */


/* Questions in Middle */
.QMiddle {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}


p {
    display: inline;
    font-family: Nunito;
    color: #3F3D56;
    font-size: 100%;
    text-align: center;
}

.TitleInfo {
    /* left: 23.15%;
    right: 47.68%;
    top: 29.41%;
    bottom: 59.73%; */
    margin-top: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3F3D56;
}

.AuthorInfo {
    /* left: 25.28%;
    right: 59.07%;
    top: 40.27%;
    bottom: 55.2%; */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3F3D56;
}

.PriceInfo {
    /* left: 23.15%;
    right: 47.68%;
    top: 29.41%;
    bottom: 59.73%; */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3F3D56;
}



/* End of Questions in Middle */


/* Buttons Div Class */
.Buttons {
    margin-top: 20px;
    margin-bottom: 450px;
    
}

.AddCart { 
    width: 160px;
    height: 40px;
    margin: auto;
    
    margin-top: 40px;
    margin-bottom: 10px;
    background: #2B6777;
    border: 2px solid #2B6777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF; 
}



.Inventory {
    width: 50px;
    font-family: Nunito;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 7px;
    border: 2px solid white;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin-right: 50px;
    font-size: 12px; 
    color: #3F3D56;
    margin-left: 40px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* End of Buttons Div Class */



@media only screen and (max-width: 991px) {
  .pic {
    padding-top: 30px;
  }
  .PriceInfo {
    justify-content: center;
    

  } 
  .TitleInfo {
    margin-top: 20px;
    justify-content: center;

  }
  .AuthorInfo {
    justify-content: center;

  }

  .Buttons {
    margin-top: 0;
  }

  #middle {
    background-color:#C0D1DE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  #bottom {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  
  }
}
