body {
    background: #ffffff;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin : 0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Girassol;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
  }

  .left {
      background: #C8D8E4;
      width: 900px;
      height: 500px;
      margin-left: 250px;
      margin-top: 110px;
      /* opacity: 0.8; */
      box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.4);
      border-radius: 7px;
  }

  h2 {
      font-family: Nunito;
      text-align: center;
      padding-top: 80px;
      font-size: 40px;
      font-weight: 800;
  }

  .adminForm {
    font-family: Nunito;
    text-align: center;
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  input[type=password] {
    width: 50%;
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  input[type=submit] {
    padding: 15px 32px;
    font-family: Nunito;
    background-color: #2B6777;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #2B6777;
    box-shadow: 2px 3px 10px #115263;
    margin-top: 25px;
  }

  label {
      font-size: 20px;
  }
