body {
    background: #ffffff;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin : 0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Girassol;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
  }

  .searchOrdersNav {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Nunito;
    font-size: 25px;
    margin-left: 50px;
    padding-top: 36px;
  }

  .searchUsersNav {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Nunito;
    font-size: 25px;
    margin-left: 50px;
    padding-top: 36px;
  }

  .searchBooksNav {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Nunito;
    font-size: 25px;
    margin-left: 50px;
    padding-top: 36px;
  }

  .myAccNav {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Nunito;
    font-size: 25px;
    margin-left: 50px;
    padding-top: 36px;
  }

  .reportsNav {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Nunito;
    font-size: 25px;
    margin-left: 50px;
    padding-top: 36px;
  }

  h1 {
      font-family: Nunito;
      font-size: 45px;
      color: #3F3D56;
      margin-left: 160px;

  }
  
  label {
      font-family: Nunito;
  }

  .radioLabel {
      font-family: Nunito;
      color: #3F3D56;
      margin-right: 60px;
  }

  p {
      display: inline;
      font-family: Nunito;
      color: #3F3D56;
      margin-right: 40px;
      font-size: 100%;
  }
  
  form {
      text-align: center;
      color: #3F3D56;
      margin-left: 180px;
  }

  .nameInput {
    width: 400px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 150px;
    margin-left: -60px;
    float: inline;
    font-size: 15px;
  }

  .inputEmail {
    width: 53%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 10px;
    font-size: 15px;
    width: 895px;
    margin-right: 225px;
  }

  .firstNameLabel {
    margin-right: 200px;
    margin-left: -480px;
  }

  .lastNameLabel {
    margin-left: 210px;
  }

  .emailLabel {
    display: inline;
    margin-right: 1045px;
  }

  .bdayInput {
    width: 400px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 150px;
    margin-left: -60px;
    float: inline;
    font-size: 15px;
  }

  .passInput {
    width: 400px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 150px;
    margin-left: -60px;
    float: inline;
    font-size: 15px;
  }

  .birthdayLabel {
    margin-right: 200px;
    margin-left: -490px;
  }

  .passwordLabel {
    margin-left: 230px;
  }

  .addressLabel {
    margin-right: 990px;
    padding-top: 500px;
    padding-left: 15px;
  }

  .addressInput {
    width: 53%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 10px;
    font-size: 15px;
    width: 895px;
    margin-right: 225px;
  }

  .cityLabel {
      margin-right: 300px;
      margin-left: -320px;
  }

  .stateLabel {
    margin-right: 280px;
  }

  .cityLabel2 {
    padding-right: 160px;
    padding-left: 0px;
  }

  .stateLabel2 {
    padding-right: 130px;
    padding-left: 70px;
  }

  .dateOrderedLabel {
    margin-right: 340px;
  }

  .cityInput {
    width: 250px;
    padding: 10px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: inline;
    font-size: 15px;
    margin-right: 78px;
  }

  .stateInput {
    width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: inline;
    font-size: 15px;
    margin-right: 78px;
  }

  .zipInput {
    width: 230px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: inline;
    font-size: 15px;
    margin-right: 215px;
  }

  h3 {
    font-family: Nunito;
    text-align: left;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 300;
  }

  h4 {
    font-family: Nunito;
    text-align: left;
    padding-left: 20px;
    margin-top: -10px;
    font-weight: 100;
    font-size: 13px;
  }

  .passReq {
    background-color: #DEE8EF;
    width: 220px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 730px;
    margin-top: -25px;
    margin-bottom: 50px;
  }

  .submit {
    padding: 15px 32px;
    font-family: Nunito;
    background-color: #2B6777;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #2B6777;
    font-weight:bold;
    margin-top: 75px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 150px;
    margin-right: -900px;
  }

  .submit:hover {
    opacity: 0.8;
  }

  hr {
      width: 1000px;
      height: 2px;
      color: #2B6777;
      background-color: #2B6777;
      margin-bottom: 35px;
      margin-right: 220px;
  }

  .deleteAcc {
      font-family: Nunito;
      text-align: left;
      color: red;
      padding-right: 480px;
  }

  .deleteDiv {
  }


