body {
    background: #ffffff;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin : 0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Girassol;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
  }

  h1 {
      font-family: Girassol;
      font-size: 55px;
      color: #3F3D56;
      text-align: center;
      margin-top: 5px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  }

  h2 {
      font-family: Nunito;
      color: #3F3D56;
      margin-top: -30px;
      text-align: center;
      font-weight: 400;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
      margin-bottom: 40px;
  }

  label {
      font-family: Nunito;
  }
  .radioLabel {
      font-family: Nunito;
      color: #3F3D56;
      margin-right: 60px;
  }

  p {
      display: inline;
      font-family: Nunito;
      color: #3F3D56;
      margin-right: 40px;
      font-size: 100%;
  }
  
  form {
      text-align: center;
      color: #3F3D56;
  }

  .nameInput {
    width: 20%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 10px;
    float: inline;
    font-size: 15px;
  }

  .inputEmail {
    width: 53%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 10px;
    font-size: 15px;
  }

  .firstNameLabel {
    margin-right: 200px;
    margin-left: -210px;
  }

  .lastNameLabel {
    margin-left: 70px;
  }

  .emailLabel {
    display: inline;
    margin-right: 630px;
  }

  .inputEmail {
    width: 640px;
  }

  .bdayInput {
    width: 20%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 10px;
    float: inline;
    font-size: 15px;
  }

  .passInput {
    width: 20%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 10px;
    float: inline;
    font-size: 15px;
  }

  .birthdayLabel {
    margin-right: 200px;
    margin-left: -210px;
  }

  .passwordLabel {
    margin-left: 90px;
  }

  h3 {
    font-family: Nunito;
    text-align: left;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 300;
  }

  h4 {
    font-family: Nunito;
    text-align: left;
    padding-left: 20px;
    margin-top: -10px;
    font-weight: 100;
    font-size: 13px;
  }

  .passReq {
    background-color: #DEE8EF;
    width: 220px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 730px;
    margin-top: -25px;
  }

  .submit {
    padding: 15px 32px;
    font-family: Nunito;
    background-color: #2B6777;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #2B6777;
    font-weight:bold;
    margin-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit:hover {
    opacity: 0.8;
  }
