body {
    background: white;
    margin: 0;
}
/* NAVBAR */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item h5 {
  font-size: 22px;
  font-weight: 400;
  padding-right: 2rem;
}

.nav-item h5:hover, .nav-item a:hover {
  color: grey !important;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatarMargin {
  margin-left: 2.2rem;
}

a.navbar-brand {
  font-family: Girassol;
}

a.nav-item {
  font-family: Nunito;
}

.row-bottom-margin {
  margin-bottom: -10px;
}

.navbar .navbar-nav {
  float: none;
  vertical-align: middle;
}

.navbar .navbar-collapse {
  text-align: center;
}

h3 {
  font-family: Nunito !important;
  font-weight: bold !important;
  text-align: left;
  color: #3F3D56 !important;
  margin-bottom: 0;
}

h5 {
  font-family: Nunito;
  text-align: center;
  color: #3F3D56 !important;
  margin-bottom: 0;
  font-weight: bold;
}

strong {
  font-family: Nunito !important;
  font-weight: bold !important;
  color: #3F3D56 !important;
}

  

  /* Div Background Details */
  .center {
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: #C8D8E4;
    box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }

  .center h1 {
    font-family: 'Nunito';
    text-align: center; 
    margin-left: 10px;
    margin-top: 150px; 
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 22px;
    
    color: #2F2E41;
    
  }

  .center h1 span {
        font-family: 'Girassol';
        font-style: normal;
  }

  .center h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
    /* or 147% */
    
    text-align: center;
    
    color: #2F2E41;
  }
/* End of Div Details */

/* Code Div Details */

.Code {
    width: 283px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left:350px;
}

.Code span {
    position: absolute;
    white-space: pre;
    width: 214px;
    height: 15px;
    margin-left: 75px;
    margin-top: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    

    color: #000000;

    
}

/* End of code for div details */


/* Buttons Div Class */

.Login { 
    width: 130px;
    height: 45px;
    margin: auto;
    margin-left: 100x;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #2B6777;
    border: 2px solid #2B6777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF; 
}

.ReturnBrowse:hover {
    opacity: 0.8;
}

/* End of Buttons Div Class */
