/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item h5 {
  font-size: 22px;
  font-weight: 400;
  padding-right: 2rem;
}

.nav-item h5:hover, .nav-item a:hover {
  color: grey !important;
}

body {
    background-color: #C8D8E4;
}

a.navbar-brand {
  font-family: Girassol;
}

.footer {
  background-color: lightgrey !important;
  max-height: 3rem !important;
  padding: 15px;
}

.footer p {
  font-size: 14px !important;
  font-family: Nunito !important;
  color: darkgrey !important;
}

body {
  /* background: #C8D8E4 !important; */
  margin: 0;
  height: 100% !important;
  width: 100% !important;
}

button:hover {
  opacity: 80% !important;
}


.linkHere {
  color: rgba(63, 61, 86, 1) !important;
  text-decoration: underline !important;
}

.linkHere:hover {
  color: rgba(43, 103, 119, 1) !important;
}