body {
  background: #ffffff;
  margin: 0;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item h5 {
  font-size: 22px;
  font-weight: 400;
  padding-right: 2rem;
}

.nav-item h5:hover, .nav-item a:hover {
  color: grey !important;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatarMargin {
  margin-left: 2.2rem;
}

a.navbar-brand {
  font-family: Girassol;
}

a.nav-item {
  font-family: Nunito;
}

.row-bottom-margin {
  margin-bottom: -10px;
}

.navbar .navbar-nav {
  float: none;
  vertical-align: middle;
}

.navbar .navbar-collapse {
  text-align: center;
}

h3 {
  font-family: Nunito !important;
  font-weight: bold !important;
  text-align: left;
  color: #3F3D56 !important;
  margin-bottom: 0;
}

h5 {
  font-family: Nunito;
  text-align: center;
  color: #3F3D56 !important;
  margin-bottom: 0;
  font-weight: bold;
}

strong {
  font-family: Nunito !important;
  font-weight: bold !important;
  color: #3F3D56 !important;
}


  /* Search Users Div */

  .Search {
      text-align: center;
      margin-left: 70px;
  }

  .Search h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight:bolder;
    font-size: 45px;
    line-height: 49px;
    margin-top: 50px;
    color: #3F3D56;
    margin-bottom: 25px;
  }

  .emailLabel {
    font-size: 24px;

  }

  .inputEmail {
    margin-right: 120px;
    width: 400px;
    height: 26px;
    border: 2px solid white;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 20px;
    font-family: Nunito;
  }

  ::placeholder {
    color: #3F3D56;
    opacity: 1;
    font-weight: bolder;
}

  .Search p {
      font-size: 12px;
      margin-right: 100px;
      margin-top: -20px;
  }

  p {
    display: inline;
    font-family: Nunito;
    color: #3F3D56;
    font-size: 100%;
}


  .center {
    margin-left: 200px;
    margin-top: 20px;
    width: 1000px;
    height: 175px;
    display: flex;
    background: #C8D8E4;
    box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    
  }

  .Info h1 {
    margin-top: 50px;
    margin-left: 40px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 49px;
    color: #3F3D56;
  }

  .Info h2 {
    margin-left: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    margin-top: -20px;
    color: #3F3D56;
  }

.EditText {
    width: 90px;
    height: 30px;
    margin-right: 30px;
    margin-top: 65px;
    background-color: #2B6777;
    border: 2px solid #2B6777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    margin-left: 500px;
    color: #FFFFFF;
}

.EditText:hover {
  opacity: 0.85
}

.Checkout:hover {
    opacity: 0.8;
  }
/* End of Order Summary on Side Div */

.searchOrderButton {
    width: 90px;
    height: 30px;
    background-color: #2B6777;
    border: 2px solid #2B6777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    margin-top: 10px;
    color: #FFFFFF;
    margin-right: 30px;
}
