body {
  background: #ffffff;
  margin: 0;
}

img {
    margin-top: 5%;
    margin-left: 5%;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li {
  float: left;

}

li a {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Girassol;
  font-size: 55px;
  margin: 0;
}

.homeNav {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Girassol;
  font-weight: bold;
  font-size: 55px;
  margin: 0;
}

.searchOrdersNav {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 36px;
}

.searchUsersNav {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 36px;
}

.searchBooksNav {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 36px;
}

.myAccNav {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 36px;
}

.reportsNav {
  display: block;
  color: #3F3D56;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 36px;
}

.left {
  width: 50%;
  height: 88%;
  float: left;
  background: #2b6777;
}

.right {
  background: #ffffff;
  margin-left: 0%;
}

.loginButton {
  padding: 15px 32px;
  font-family: Nunito;
  background-color: #3f3d56;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #3f3d56;
  box-shadow: 5px 3px 10px #888888;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}

.loginButton:hover {
  opacity: 0.85;
}

.logoutButton {
    font-family: Nunito;
    background-color: #C8D8E4;
    color: #3F3D56;
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 10px;
    border: 2px solid #C8D8E4;
    box-shadow: 5px 3px 10px #888888;
    float: left;
    margin-left: 19.8%;
    margin-top: 2.3%;
}

.logoutButton:hover {
    opacity: 0.85;
}

h1 {
  font-family: Nunito;
  text-align: left;
  font-size: 30px;
  color: #3F3D56;
  margin-bottom: 0;
  padding-left: 20%;
  padding-top: 2%;
}

p {
  color: #ffffff;
  font-family: Nunito;
  font-size: 14px;
  text-align: center;
}

.registerButton {
  padding: 15px 32px;
  font-family: Nunito;
  background-color: #ffffff;
  color: #3f3d56;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  margin-left: 26%;
  margin-top: 3%;
  font-weight: bold;
}

.registerButton:hover {
  opacity: 0.85;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 17%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 107; /* Stay at the top */
  left: 0;
  background-color: #2c6777; /* Black */
  font-family: Nunito;
  font-size: 14px;
  text-align: center;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.avatar {
    padding-left: 10px;
    float: left;
    align-items: center;
}

.nametag {
    align-items: top;
    float: left;
    width: 70%;
    padding-bottom: 7%;
}

hr.rounded {
    width: 90%;
    border-color: #CBCBCB;
}

.username {
    padding-left: 10%;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
}

.role {
    padding-left: 10%;
    font-size: 15px;
    text-align: left;
    color: #CDCDCD;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
