body {
    background: white;
    margin: 0;
}
/* Header */
img {
    margin-top: 5%;
    margin-left: 5%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin : 0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  li {
    float: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
  li a {
    display: block;
    color: #3F3D56;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Girassol;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
  }

  

  .MyBooks {
    padding: 15px 10px;
    font-family: Nunito;
    color: #3F3D56;
    font-size: 20px;
    float: right;
    margin-right: 5%;
    margin-top: 2%;
    text-decoration: none;
  }

  .MyBooks img {
    position: relative;
    width: 54px;
    height: 42px;
    float: right;
    right: 10px;
    top: -10px;
    
  }

  .MyBooks:hover {
      opacity: 0.85;

  }

  /* End of Hover */

  /* Search Users Div */

  .Search {
      text-align: center;
      margin-left: 70px;
  }

  .Search h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight:bolder;
    font-size: 45px;
    line-height: 49px;
    
    color: #3F3D56;
  }

  .emailLabel {
    font-size: 24px;

  }

  .inputEmail {
    margin-right: 120px;
    width: 400px;
    height: 26px;
    border: 2px solid white;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  ::placeholder {
    color: #3F3D56;
    opacity: 1;
    font-weight: bolder;
}

  .Search p {
      font-size: 12px;
      margin-right: 100px;
      margin-top: -20px;
  }

  p {
    display: inline;
    font-family: Nunito;
    color: #3F3D56;
    font-size: 100%;
}

  /* End of Search Users Div */

 


  

  /* Div Background Details */
  .center {
    margin-left: 70px;
    margin-top: 20px;
    width: 1300px;
    height: 175px;
    display: flex;
    background: #C8D8E4;
    box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    
  }

  .Info h1 {
    margin-top: 50px;
    margin-left: 40px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 49px;
    color: #3F3D56;
  }

  .Info h2 {
    margin-left: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    margin-top: -20px;
    color: #3F3D56;
  }

/* End of Div Details */





/* Order Summary on Side Div */


.EditText {
    float: right;
    width: 90px;
    height: 30px;
    margin-right: 30px;
    margin-top: 65px;
    background-color: #2B6777;
    border: 2px solid #2B6777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #FFFFFF;
}

.Checkout:hover {
    opacity: 0.8;
  }
/* End of Order Summary on Side Div */